<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="login()" expand="block" fill="clear" shape="round">
    login whit facebook
  </ion-button>
  <ion-button (click)="googleSignup()" expand="block" fill="clear" shape="round">
    login whit google
  </ion-button>
  <ion-item *ngIf="user">
    <ion-label>{{user.email}}</ion-label>
  </ion-item>
  <ion-item *ngIf="googleInfo">
    <ion-label>{{googleInfo.email}}</ion-label>
  </ion-item>
  <ion-item *ngIf="browser">
    <ion-label>estoy en navegador</ion-label>
  </ion-item>
  <ion-item *ngIf="myLat && myLng">
    <ion-label>latitude = {{myLat}}, logitude = {{myLng}}</ion-label>
  </ion-item>
  <div #map id="map"></div>
</ion-content>